<div class="step match_translation">
  <div class="block_variants" [ngClass]="error != null ? (!error ? 'error' : 'success') : ''">
    <div class="block_variants_sources">
      <div *ngFor="let source of sources; index as index">
        <input [id]="'source' + index" type="radio" name="source" [value]="source" [(ngModel)]="buttonSource"
               (change)="selectVariant()">
        <label [for]="'source' + index" class="btn_select_variant">{{ source }}</label>
      </div>
    </div>

    <div class="block_variants_translations">
      <div *ngFor="let translate of translations; index as index">
        <input [id]="'translate' + index" type="radio" name="Translate" [value]="translate"
               [(ngModel)]="buttonTranslation"
               (change)="selectVariant()">
        <label [for]="'translate' + index" class="btn_select_variant">{{ translate }}</label>

      </div>
    </div>
  </div>
</div>
